viruscontrol-web/src/main/webapp/openshift-wsdl/MiNubeGr14RucafService.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://soap.salud.uy/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="RucafService" targetNamespace="http://soap.salud.uy/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://soap.salud.uy/" elementFormDefault="unqualified" targetNamespace="http://soap.salud.uy/" version="1.0">

  <xs:element name="obtenerPrestadoraUsuario" type="tns:obtenerPrestadoraUsuario"/>

  <xs:element name="obtenerPrestadoraUsuarioResponse" type="tns:obtenerPrestadoraUsuarioResponse"/>

  <xs:element name="obtenerPrestadoras" type="tns:obtenerPrestadoras"/>

  <xs:element name="obtenerPrestadorasResponse" type="tns:obtenerPrestadorasResponse"/>

  <xs:complexType name="obtenerPrestadoraUsuario">
    <xs:sequence>
      <xs:element name="documento" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="obtenerPrestadoraUsuarioResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:prestadoraSalud"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="prestadoraSalud">
    <xs:sequence>
      <xs:element name="id" type="xs:int"/>
      <xs:element minOccurs="0" name="nombre" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="obtenerPrestadoras">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="obtenerPrestadorasResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:prestadoraSalud"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
  </wsdl:types>
  <wsdl:message name="obtenerPrestadoraUsuario">
    <wsdl:part element="tns:obtenerPrestadoraUsuario" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="obtenerPrestadorasResponse">
    <wsdl:part element="tns:obtenerPrestadorasResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="obtenerPrestadoraUsuarioResponse">
    <wsdl:part element="tns:obtenerPrestadoraUsuarioResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="obtenerPrestadoras">
    <wsdl:part element="tns:obtenerPrestadoras" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="IRucafService">
    <wsdl:operation name="obtenerPrestadoraUsuario">
      <wsdl:input message="tns:obtenerPrestadoraUsuario" name="obtenerPrestadoraUsuario">
    </wsdl:input>
      <wsdl:output message="tns:obtenerPrestadoraUsuarioResponse" name="obtenerPrestadoraUsuarioResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="obtenerPrestadoras">
      <wsdl:input message="tns:obtenerPrestadoras" name="obtenerPrestadoras">
    </wsdl:input>
      <wsdl:output message="tns:obtenerPrestadorasResponse" name="obtenerPrestadorasResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="RucafServiceSoapBinding" type="tns:IRucafService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="obtenerPrestadoraUsuario">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="obtenerPrestadoraUsuario">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="obtenerPrestadoraUsuarioResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="obtenerPrestadoras">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="obtenerPrestadoras">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="obtenerPrestadorasResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RucafService">
    <wsdl:port binding="tns:RucafServiceSoapBinding" name="RucafServicePort">
      <soap:address location="https://viruscontroluy.xyz:8443/salud.uy/RucafService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
